
$black: #000;
$halfBlack: #333;
$white: #ffffff;
$gray-bg: #505050;
$gray: #D9D9D9;
$gray-light: #c5c5c5;
$light-light-gray: #E5E5E5;
$red: #BB172B;
$light-broun: #BB9975;




$mainFont: 'Circe', sans-serif;



$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;






